<ion-header>
  <ion-toolbar>
    <ion-title>Modification du mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="password">
    <ion-item>
      <ion-label>Nouveau mot de passe</ion-label>
      <ion-input type="password" name="newPasswd" formControlName="newPasswd" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmer mot de passe</ion-label>
      <ion-input type="password" name="confirmNewPasswd" formControlName="confirmNewPasswd" required></ion-input>
    </ion-item>
    
      <div *ngIf="password.value.newPasswd === password.value.confirmNewPasswd">
        <ion-button (click)="editPassword()" [disabled]="password.invalid" color="success">Modifier</ion-button>
      </div>
      <div *ngIf="password.value.newPasswd !== password.value.confirmNewPasswd">
        <ion-button disabled color="success">Modifier</ion-button>
        <p>Vos mots de passe ne sont pas identiques</p>
      </div>
  </form>
</ion-content>