<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="shadow-lg p-3 mb-5 rounded"> -->
  <form [formGroup]="user" (ngSubmit)="loginUser()">

    <ion-item>
      <ion-label>Mail</ion-label>
      <ion-input type="email" name="mail" formControlName="mail" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" name="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button [disabled]="user.invalid" color="success">Se connecter</ion-button>
    <small><a [routerLink]="['/mpForget']">Mot de passe oublié</a></small>
  </form>
</ion-content>