<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Itineraire</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Mon Compte</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Running Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main"></ion-router-outlet>

  
  <div id="container">
    <strong>Bienvenue sur l'application Running Map !</strong>
    <p class="text-justify">Vous êtes sportif débutant ou avéré et vous ne connaissez pas ou peu de parcours autour de
      chez ? Vous partez en vacances et vous souhaitez continuer a faire du sport mais vous ne connaissez pas de
      parcours
      ? Cette application est faite pour pour vous !</p>
    <p class="text-justify">Running Map vous permet de générer un itinéraire en partant d'un point de depart (votre
      domicile par exemple) et en fonction des kilometres et du type de chemin (route, chemin de terre).</p>
    <div class="text-center">
      <img src="/assets/img/runner.jpg">
    </div>

    <div class="example-button-row text-center my-5">
      <h1>Bon sport !</h1>
    </div>
    <div class="example-button-row text-center my-5">
      <ion-button color="secondary" routerLink="/create">Inscription</ion-button>

      <ion-button color="success" routerLink="/login">Connexion</ion-button>
    </div>

  </div>
</ion-content>